.app {

}

.socialgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  background: rgba(0,0,0, 0.1);
}
