.instagramsize {
font-size: 40px;
}


.instagramtopgrid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px;
  grid-gap: 5px;
  padding: 5px;
}

.instagramtext {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  font-family: 'Noto Sans', sans-serif;

}

.background {
  background: rgb(0,0,0,0.3);
}
