.menugrid {
  display: grid;
  grid-template-columns: 70% 15% 15%;;
}

.logo {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.top {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
